.azdps-application-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}

.azdps-application-container1 {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-size: auto, cover;
    background-image: linear-gradient(113deg, rgba(31, 35, 34, 0.8) 7.00%, rgba(58, 78, 110, 0.8) 93.00%), url('https://www.pinalcountyrp.com/blank_banner.png');
    background-repeat: repeat, no-repeat;
    background-position: top left, center;
}

.azdps-application-image {
    width: 750px;
    align-self: center;
    margin-top: var(--dl-space-space-unit);
    object-fit: cover;
}

.azdps-application-hero {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    align-self: flex-start;
    min-height: 80vh;
    align-items: flex-start;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-sixunits);
    justify-content: center;
}

.azdps-application-container2 {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    border-radius: var(--dl-radius-radius-radius4);
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.25);
}

.azdps-application-container3 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    margin: var(--dl-space-space-oneandhalfunits);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-unit);
    justify-content: flex-start;
    background-color: rgba(217, 217, 217, 0.5);
}

.azdps-application-image1 {
    width: 100%;
    align-self: center;
    object-fit: cover;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
}

.azdps-application-text {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-halfunit);
    text-decoration: underline;
}

.azdps-application-text01 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-unit);
}

.azdps-application-text10 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-halfunit);
    text-decoration: underline;
}

.azdps-application-text11 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-unit);
}

.azdps-application-text22 {
    align-self: flex-start;
    margin-top: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-unit);
}

.azdps-application-text23 {
    color: #dc3424;
}

.azdps-application-form {
    width: auto;
    height: auto;
    display: flex;
    align-self: flex-start;
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
}

.azdps-application-question-1 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.azdps-application-text25 {
    font-size: 1.5rem;
}

.azdps-application-text27 {
    color: #dc3424;
}

.azdps-application-textinput {
    margin-top: 3px;
}

.azdps-application-question-2 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: column;
}

.azdps-application-text28 {
    font-size: 1.5rem;
}

.azdps-application-text30 {
    color: #dc3424;
}

.azdps-application-textinput1 {
    margin-top: 3px;
}

.azdps-application-question-3 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: column;
}

.azdps-application-text31 {
    font-size: 1.5rem;
}

.azdps-application-text33 {
    color: #dc3424;
}

.azdps-application-select {
    margin-top: 3px;
}

.azdps-application-question-4 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: column;
}

.azdps-application-text35 {
    font-size: 1.5rem;
}

.azdps-application-text37 {
    color: #dc3424;
}

.azdps-application-select1 {
    margin-top: 3px;
}

.azdps-application-question-5 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: column;
}

.azdps-application-text39 {
    font-size: 1.5rem;
}

.azdps-application-text41 {
    color: #dc3424;
}

.azdps-application-select2 {
    margin-top: 3px;
}

.azdps-application-question-6 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: column;
}

.azdps-application-text43 {
    font-size: 1.5rem;
}

.azdps-application-text45 {
    color: #dc3424;
}

.azdps-application-textarea {
    margin-top: 3px;
}

.azdps-application-question-7 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: column;
}

.azdps-application-text47 {
    font-size: 1.5rem;
}

.azdps-application-text49 {
    color: #dc3424;
}

.azdps-application-textarea1 {
    margin-top: 3px;
}

.azdps-application-question-8 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: column;
}

.azdps-application-text50 {
    font-size: 1.5rem;
}

.azdps-application-text52 {
    color: #dc3424;
}

.azdps-application-textarea2 {
    margin-top: 3px;
}

.azdps-application-button {
    color: var(--dl-color-gray-white);
    width: var(--dl-size-size-medium);
    font-size: 0.75rem;
    transition: 0.3s;
    margin-left: var(--dl-space-space-halfunit);
    background-color: var(--dl-color-gray-black);
}

.azdps-application-button:hover {
    color: var(--dl-color-gray-black);
    background-color: transparent;
}

.azdps-application-text54:hover {
    color: var(--dl-color-gray-black);
    background-color: transparent;
}

@media(max-width: 991px) {
    .azdps-application-hero {
        flex-direction: column;
    }
}

@media(max-width: 767px) {
    .azdps-application-hero {
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
    }
}

@media(max-width: 479px) {
    .azdps-application-button {
        margin-top: var(--dl-space-space-unit);
        margin-left: 0px;
    }

    .azdps-application-text54 {
        margin-top: var(--dl-space-space-unit);
        margin-left: 0px;
    }
}

@media(max-width: 375px) {
    .azdps-application-container1 {
        background-position: top left, center;
    }

    .azdps-application-image {
        width: 100%;
    }

    .azdps-application-hero {
        width: 100%;
        padding-top: var(--dl-space-space-twounits);
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
        padding-bottom: var(--dl-space-space-twounits);
    }

    .azdps-application-container2 {
        width: 100%;
    }

    .azdps-application-container3 {
        width: 100%;
    }

    .azdps-application-image1 {
        width: 95%;
    }

    .azdps-application-text01 {
        margin-right: var(--dl-space-space-unit);
    }

    .azdps-application-text11 {
        margin-left: var(--dl-space-space-halfunit);
        margin-right: var(--dl-space-space-halfunit);
    }

    .azdps-application-form {
        flex-wrap: wrap;
        margin-left: var(--dl-space-space-halfunit);
    }

    .azdps-application-question-1 {
        flex-wrap: wrap;
    }

    .azdps-application-question-2 {
        flex-wrap: wrap;
    }

    .azdps-application-question-3 {
        flex-wrap: wrap;
    }

    .azdps-application-question-4 {
        flex-wrap: wrap;
    }

    .azdps-application-question-5 {
        flex-wrap: wrap;
    }

    .azdps-application-question-6 {
        flex-wrap: wrap;
    }

    .azdps-application-question-7 {
        flex-wrap: wrap;
    }

    .azdps-application-question-8 {
        flex-wrap: wrap;
    }
}