.donation-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.donation-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-size: auto, cover;
  background-image: linear-gradient(113deg, rgba(31, 35, 34, 0.8) 7.00%, rgba(58, 78, 110, 0.8) 93.00%);
  background-repeat: top left;
  background-position: top left, center;
}

.donation-text {
  font-size: 3em;
  margin-top: var(--dl-space-space-threeunits);
  text-align: center;
}

.donation-pricing {
  width: 100%;
  display: flex;
  justify-content: center;
}

.donation-container02 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  background-size: cover;
  justify-content: center;
}

.donation-pricing-card {
  display: flex;
  padding: var(--dl-space-space-threeunits);
  width: 25%;
  height: 100%;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-size: auto, cover;
  justify-content: space-between;
  background-image: linear-gradient(90deg, rgba(193, 127, 95, 0.5) 33.00%, rgba(44, 62, 80, 0.5) 100.00%), url('https://pinalcountyrp.com/copper_donations.png');
  background-repeat: repeat, no-repeat;
  background-position: top left, right;
}

.donation-pricing-card:hover {
  transform: scale(1.02);
}

.donation-text01 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: uppercase;
}

.donation-container03 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}

.donation-text04 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}

.donation-text07 {
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
}

.donation-text10 {
  font-size: 2rem;
  align-self: flex-end;
  font-weight: 700;
  margin-bottom: 6px;
}

.donation-container04 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}

.donation-text13 {
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: capitalize;
}

.donation-text14 {
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: capitalize;
}

.donation-text15 {
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: capitalize;
}

.donation-link {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}

.donation-pricing-card1 {
  display: flex;
  padding: var(--dl-space-space-threeunits);
  width: 25%;
  height: 100%;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-size: auto, cover;
  justify-content: space-between;
  background-image: linear-gradient(90deg, rgba(238, 192, 2, 0.25) 32.00%, rgba(44, 62, 80, 0.5) 100.00%), url('https://pinalcountyrp.com/gold_donations.png');
  background-repeat: repeat, no-repeat;
  background-position: top left, right;
}

.donation-pricing-card1:hover {
  transform: scale(1.02);
}

.donation-text16 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: uppercase;
}

.donation-container05 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}

.donation-text19 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}

.donation-text22 {
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
}

.donation-text25 {
  font-size: 2rem;
  align-self: flex-end;
  font-weight: 700;
  margin-bottom: 6px;
}

.donation-container06 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}

.donation-text28 {
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: capitalize;
}

.donation-text29 {
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: capitalize;
}

.donation-text30 {
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: capitalize;
}

.donation-link1 {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}

.donation-pricing-card2 {
  display: flex;
  width: 25%;
  height: 100%;
  padding: var(--dl-space-space-threeunits);
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-size: auto, cover;
  justify-content: space-between;
  background-image: linear-gradient(90deg, rgba(112, 225, 255, 0.5) 34.00%, rgba(44, 62, 80, 0.5) 100.00%),
    url('https://pinalcountyrp.com/diamond_donations.png');
  background-repeat: repeat, no-repeat;
  background-position: top left, right;
}

.donation-pricing-card2:hover {
  transform: scale(1.02);
}

.donation-text31 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: uppercase;
}

.donation-container07 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}

.donation-text34 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}

.donation-text37 {
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
}

.donation-text40 {
  font-size: 2rem;
  align-self: flex-end;
  font-weight: 700;
  margin-bottom: 6px;
}

.donation-container08 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}

.donation-text43 {
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}

.donation-text44 {
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: capitalize;
}

.donation-text47 {
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: capitalize;
}

.donation-link2 {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}

.donation-text48 {
  font-size: 3em;
  margin-top: var(--dl-space-space-threeunits);
  text-align: center;
}

.donation-text49 {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
  text-align: center;
}

.donation-text53 {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}

.donation-container09 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  justify-content: center;
}

.donation-link3 {
  display: contents;
}

.donation-pricing-card3 {
  width: 13%;
  height: var(--dl-size-size-large);
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 10px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  background-color: var(--dl-color-gray-900);
}

.donation-pricing-card3:hover {
  transform: scale(1.02);
  border-color: var(--dl-color-gray-black);
  border-width: .5px;
}

.donation-pasted-image {
  width: 55px;
}

.donation-text54 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: uppercase;
}

.donation-text55 {
  text-transform: capitalize;
}

.donation-text57 {
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.donation-text58 {
  font-style: normal;
  font-weight: 700;
}

@media(max-width: 991px) {
  .donation-pricing-card {
    padding: var(--dl-space-space-twounits);
    max-width: 100%;
    align-items: center;
  }

  .donation-pricing-card1 {
    padding: var(--dl-space-space-twounits);
    max-width: 100%;
    align-items: center;
  }

  .donation-pricing-card2 {
    padding: var(--dl-space-space-twounits);
    max-width: 100%;
    align-items: center;
  }

  .donation-pricing-card3 {
    width: var(--dl-size-size-large);
    padding: var(--dl-space-space-twounits);
    max-width: 100%;
    align-items: center;
  }
}

@media(max-width: 767px) {
  .donation-container02 {
    flex-flow: column;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }

  .donation-pricing-card {
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }

  .donation-pricing-card1 {
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }

  .donation-pricing-card2 {
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }

  .donation-container09 {
    flex-flow: column;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }

  .donation-pricing-card3 {
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
}

@media(max-width: 390px) {
  .donation-container02 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }

  .donation-container09 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}