.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.home-site-notification {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-danger-700);
}

.home-notification-text {
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 500;
}

.home-notification-text-bold {
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: bold;
}

.home-notification-button {
  align-self: center;
  font-style: normal;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgb(255, 102, 102);
}

.home-notification {
  width: 100%;
  display: flex;
  padding: 48px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(251, 255, 0, 0.78);
}

.home-home-notification-heading {
  color: var(--dl-color-gray-white);
  font-size: 38px;
  text-align: center;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 1.22;
  text-transform: none;
  text-decoration: none;
}

.home-home-notification-text {
  color: var(--dl-color-gray-white);
  font-size: 20px;
  max-width: 1400px;
  margin-top: 15px;
  text-align: center;
}

.home-home-notification-button {
  margin-top: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-success-500);
}

.home-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-size: auto, cover;
  background-image: linear-gradient(113deg, rgba(31, 35, 34, 0.8) 7.00%, rgba(58, 78, 110, 0.8) 93.00%), url('https://pinalcountyrp.com/blank_banner.png');
  background-repeat: repeat, no-repeat;
  background-position: top left, center;
}

.home-hero {
  width: 100%;
  height: 765px;
  display: flex;
  position: relative;
  min-height: 80vh;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: -96px;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: center;
}

.home-image {
  width: 900px;
  object-fit: cover;
}

.home-image1 {
  width: 200px;
  display: none;
  object-fit: cover;
}

.home-btn-group {
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}

.home-link {
  display: contents;
}

.home-image2 {
  width: 195px;
  height: 42px;
  object-fit: cover;
  transition: 0.3s;
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}

.home-image2:hover {
  width: 200px;
  height: 45px;
}

.home-link1 {
  display: contents;
}

.home-image3 {
  width: 195px;
  height: 42px;
  object-fit: cover;
  transition: 0.3s;
  text-decoration: none;
}

.home-image3:hover {
  width: 200px;
  height: 45px;
}

.home-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
}

.home-container3 {
  flex: 0 0 auto;
  width: 275px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(18, 18, 18, 0.5);
}

.home-image4 {
  width: var(--dl-size-size-medium);
  align-self: center;
  object-fit: cover;
}

.home-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}

.home-text {
  color: var(--dl-color-gray-900);
  font-size: 1.5rem;
  align-self: center;
  font-style: normal;
  font-weight: 700;
}

.home-text01 {
  color: var(--dl-color-gray-900);
  font-size: 1rem;
  align-self: center;
  font-style: normal;
  font-weight: 700;
}

.home-container5 {
  flex: 0 0 auto;
  width: 275px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgba(18, 18, 18, 0.5);
}

.home-image5 {
  width: 75px;
  align-self: center;
  object-fit: cover;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}

.home-container6 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}

.home-text04 {
  color: var(--dl-color-gray-900);
  font-size: 1.5rem;
  align-self: center;
  font-style: normal;
  font-weight: 700;
}

.home-text07 {
  color: var(--dl-color-gray-900);
  font-size: 1rem;
  align-self: center;
  font-style: normal;
  font-weight: 700;
}

.home-container7 {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  justify-content: center;
}

.home-link2 {
  display: contents;
}

.home-pricing-card {
  width: 15%;
  height: var(--dl-size-size-large);
  display: flex;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 10px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  text-decoration: none;
  background-color: rgba(146, 132, 132, 0.48);
}

.home-pricing-card:hover {
  width: 17%;
  height: var(--dl-size-size-large);
  transform: scale(1.02);
  background-color: rgba(125, 102, 102, 0.48);
}

.home-image6 {
  width: var(--dl-size-size-small);
  object-fit: cover;
}

.home-text10 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: capitalize;
}

.home-link3 {
  display: contents;
}

.home-pricing-card1 {
  width: 15%;
  height: var(--dl-size-size-large);
  display: flex;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 10px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  text-decoration: none;
  background-color: rgba(146, 132, 132, 0.48);
}

.home-pricing-card1:hover {
  width: 17%;
  height: var(--dl-size-size-large);
  transform: scale(1.02);
  background-color: rgba(125, 102, 102, 0.48);
}

.home-icon {
  fill: #FF0000;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-bottom: var(--dl-space-space-halfunit);
}

.home-text11 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: capitalize;
}

.home-link4 {
  display: contents;
}

.home-pricing-card2 {
  width: 15%;
  height: var(--dl-size-size-large);
  display: flex;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 10px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  text-decoration: none;
  background-color: rgba(146, 132, 132, 0.48);
}

.home-pricing-card2:hover {
  width: 17%;
  height: var(--dl-size-size-large);
  transform: scale(1.02);
  background-color: rgba(125, 102, 102, 0.48);
}

.home-image7 {
  width: var(--dl-size-size-small);
  height: auto;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-halfunit);
}

.home-text12 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: capitalize;
}

.home-link5 {
  display: contents;
}

.home-pricing-card3 {
  width: 15%;
  height: var(--dl-size-size-large);
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 10px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  background-color: rgba(146, 132, 132, 0.48);
}

.home-pricing-card3:hover {
  width: 17%;
  height: var(--dl-size-size-large);
  transform: scale(1.02);
  background-color: rgba(125, 102, 102, 0.48);
}

.home-image8 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  margin-bottom: var(--dl-space-space-halfunit);
}

.home-text13 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: uppercase;
}

.home-text14 {
  font-weight: 600;
  text-transform: capitalize;
}

@media(max-width: 991px) {
  .home-hero {
    flex-direction: column;
  }

  .home-image1 {
    display: none;
  }

  .home-pricing-card {
    width: 100%;
    height: var(--dl-size-size-large);
    max-width: 100%;
    align-items: center;
  }

  .home-pricing-card1 {
    width: 100%;
    height: var(--dl-size-size-large);
    max-width: 100%;
    align-items: center;
  }

  .home-pricing-card2 {
    width: 100%;
    height: var(--dl-size-size-large);
    max-width: 100%;
    align-items: center;
  }

  .home-pricing-card3 {
    width: 100%;
    height: var(--dl-size-size-large);
    padding: var(--dl-space-space-twounits);
    max-width: 100%;
    align-items: center;
  }
}

@media(max-width: 767px) {
  .home-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }

  .home-image {
    width: 750px;
  }

  .home-image1 {
    display: none;
  }

  .home-container7 {
    flex-flow: column;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }

  .home-pricing-card {
    width: 100%;
    height: var(--dl-size-size-xlarge);
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }

  .home-pricing-card1 {
    width: 100%;
    height: var(--dl-size-size-xlarge);
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }

  .home-pricing-card2 {
    width: 100%;
    height: var(--dl-size-size-xlarge);
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }

  .home-pricing-card3 {
    width: 100%;
    height: var(--dl-size-size-xlarge);
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
}

@media(max-width: 430px) {
  .home-container {
    background-size: cover;
    background-position: center;
  }

  .home-container1 {
    background-position: top left, center;
  }

  .home-hero {
    width: 100%;
    padding: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }

  .home-image {
    display: none;
  }

  .home-image1 {
    width: 350px;
    display: flex;
  }

  .home-btn-group {
    flex-direction: column;
  }

  .home-image2 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-tripleunit);
  }

  .home-container2 {
    flex-direction: column;
  }

  .home-container3 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }

  .home-container5 {
    margin-right: 0px;
  }

  .home-container7 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}