
.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.home-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-size: auto, cover;
  background-image: linear-gradient(113deg, rgba(31, 35, 34, 0.8) 7.00%, rgba(58, 78, 110, 0.8) 93.00%), url('https://pacificdreamrp.com/web_banner.png');
  background-repeat: repeat, no-repeat;
  background-position: top left, center;
}

.home-hero {
  width: 100%;
  height: 765px;
  display: flex;
  position: relative;
  min-height: 80vh;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: -96px;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: center;
}

.home-text {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
  font-family: "Outfit";
}

.home-text03 {
  color: var(--dl-color-gray-white);
  font-size: 20px;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-family: "Outfit";
  margin-bottom: var(--dl-space-space-twounits);
}

.home-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.home-link {
  transition: 0.3s;
  font-family: "Outfit";
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.41);
}

.home-link:hover {
  background-color: rgba(255, 255, 255, 0.72);
}

.home-text06 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}

.home-container2 {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  justify-content: center;
}

.home-link1 {
  display: contents;
}

.home-pricing-card {
  width: 15%;
  height: var(--dl-size-size-large);
  display: flex;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 10px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  text-decoration: none;
  background-color: rgba(146, 132, 132, 0.48);
}

.home-pricing-card:hover {
  width: 18%;
  height: 150px;
  transform: scale(1.02);
  background-color: rgba(125, 102, 102, 0.48);
}

.home-image {
  width: var(--dl-size-size-small);
  object-fit: cover;
}

.home-text09 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: capitalize;
}

.home-link2 {
  display: contents;
}

.home-pricing-card1 {
  width: 15%;
  height: var(--dl-size-size-large);
  display: flex;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 10px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  text-decoration: none;
  background-color: rgba(146, 132, 132, 0.48);
}

.home-pricing-card1:hover {
  width: 18%;
  height: 150px;
  transform: scale(1.02);
  background-color: rgba(125, 102, 102, 0.48);
}

.home-icon {
  fill: #FF0000;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-bottom: var(--dl-space-space-halfunit);
}

.home-text10 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: capitalize;
}

.home-link3 {
  display: contents;
}

.home-pricing-card2 {
  width: 15%;
  height: var(--dl-size-size-large);
  display: flex;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 10px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  text-decoration: none;
  background-color: rgba(146, 132, 132, 0.48);
}

.home-pricing-card2:hover {
  width: 18%;
  height: 150px;
  transform: scale(1.02);
  background-color: rgba(125, 102, 102, 0.48);
}

.home-image1 {
  width: var(--dl-size-size-small);
  height: auto;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-halfunit);
}

.home-text11 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: capitalize;
}

.home-link4 {
  display: contents;
}

.home-pricing-card3 {
  width: 15%;
  height: var(--dl-size-size-large);
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 10px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  background-color: rgba(146, 132, 132, 0.48);
}

.home-pricing-card3:hover {
  width: 18%;
  height: 150px;
  transform: scale(1.02);
  background-color: rgba(125, 102, 102, 0.48);
}

.home-image2 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  margin-bottom: var(--dl-space-space-halfunit);
}

.home-text12 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: uppercase;
}

.home-text13 {
  font-weight: 600;
  text-transform: capitalize;
}

@media(max-width: 991px) {
  .home-hero {
    flex-direction: column;
  }

  .home-text {
    text-align: center;
  }

  .home-text01 {
    text-align: center;
  }

  .home-text03 {
    text-align: center;
  }

  .home-pricing-card {
    width: 100%;
    height: var(--dl-size-size-large);
    max-width: 100%;
    align-items: center;
  }

  .home-pricing-card1 {
    width: 100%;
    height: var(--dl-size-size-large);
    max-width: 100%;
    align-items: center;
  }

  .home-pricing-card2 {
    width: 100%;
    height: var(--dl-size-size-large);
    max-width: 100%;
    align-items: center;
  }

  .home-pricing-card3 {
    width: 100%;
    height: var(--dl-size-size-large);
    padding: var(--dl-space-space-twounits);
    max-width: 100%;
    align-items: center;
  }
}

@media(max-width: 767px) {
  .home-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }

  .home-container2 {
    flex-flow: column;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }

  .home-pricing-card {
    width: 100%;
    height: var(--dl-size-size-xlarge);
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }

  .home-pricing-card1 {
    width: 100%;
    height: var(--dl-size-size-xlarge);
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }

  .home-pricing-card2 {
    width: 100%;
    height: var(--dl-size-size-xlarge);
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }

  .home-pricing-card3 {
    width: 100%;
    height: var(--dl-size-size-xlarge);
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
}

@media(max-width: 479px) {
  .home-container {
    background-size: cover;
    background-position: center;
  }

  .home-hero {
    width: 100%;
    padding: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }

  .home-btn-group {
    flex-direction: column;
  }

  .home-text06 {
    font-size: 12px;
  }

  .home-container2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}