.phoenix-pd-application-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}

.phoenix-pd-application-container1 {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-size: auto, cover;
    background-image: linear-gradient(113deg, rgba(31, 35, 34, 0.8) 7.00%, rgba(58, 78, 110, 0.8) 93.00%), url('https://pinalcountyrp.com/blank_banner.png');
    background-repeat: repeat, no-repeat;
    background-position: top left, center;
}

.phoenix-pd-application-image {
    width: 750px;
    align-self: center;
    margin-top: var(--dl-space-space-unit);
    object-fit: cover;
}

.phoenix-pd-application-hero {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    align-self: flex-start;
    align-items: center;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-sixunits);
    justify-content: flex-start;
}

.phoenix-pd-application-container2 {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding-left: var(--dl-space-space-oneandhalfunits);
    border-radius: var(--dl-radius-radius-radius4);
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.25);
}

.phoenix-pd-application-container3 {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    margin: var(--dl-space-space-oneandhalfunits);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-unit);
    justify-content: flex-start;
    background-color: rgba(217, 217, 217, 0.5);
}

.phoenix-pd-application-image1 {
    width: 100%;
    align-self: center;
    object-fit: cover;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
}

.phoenix-pd-application-text {
    align-self: flex-start;
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: var(--dl-space-space-unit);
}

.phoenix-pd-application-text01 {
    align-self: flex-start;
    margin-top: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-unit);
}

.phoenix-pd-application-text02 {
    color: #dc3424;
}

.phoenix-pd-application-form {
    width: auto;
    display: flex;
    align-self: flex-start;
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
}

.phoenix-pd-application-question-1 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: column;
}

.phoenix-pd-application-text04 {
    font-size: 1.5rem;
}

.phoenix-pd-application-text06 {
    color: #dc3424;
}

.phoenix-pd-application-input {
    margin-top: 3px;
}

.phoenix-pd-application-question-2 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: column;
}

.phoenix-pd-application-text07 {
    font-size: 1.5rem;
}

.phoenix-pd-application-text09 {
    color: #dc3424;
}

.phoenix-pd-application-question-3 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: column;
}

.phoenix-pd-application-text10 {
    font-size: 1.5rem;
}

.phoenix-pd-application-text12 {
    color: #dc3424;
}

.phoenix-pd-application-question-4 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: column;
}

.phoenix-pd-application-text13 {
    font-size: 1.5rem;
}

.phoenix-pd-application-text15 {
    color: #dc3424;
}

.phoenix-pd-application-input1 {
    margin-top: 3px;
}

.phoenix-pd-application-question-5 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: column;
}

.phoenix-pd-application-text16 {
    font-size: 1.5rem;
}

.phoenix-pd-application-text18 {
    color: #dc3424;
}

.phoenix-pd-application-separator {
    width: 100%;
    height: auto;
}

.phoenix-pd-application-separator1 {
    width: 200px;
    height: 2px;
    background-color: var(--dl-color-gray-500);
}

.phoenix-pd-application-text19 {
    margin-top: var(--dl-space-space-halfunit);
}

.phoenix-pd-application-question-6 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: column;
}

.phoenix-pd-application-text25 {
    font-size: 1.5rem;
}

.phoenix-pd-application-text27 {
    color: #dc3424;
}

.phoenix-pd-application-input2 {
    margin-top: 3px;
}

.phoenix-pd-application-question-7 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: column;
}

.phoenix-pd-application-text28 {
    font-size: 1.5rem;
}

.phoenix-pd-application-text30 {
    color: #dc3424;
}

.phoenix-pd-application-input3 {
    margin-top: 3px;
}

.phoenix-pd-application-question-8 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: column;
}

.phoenix-pd-application-text31 {
    font-size: 1.5rem;
}

.phoenix-pd-application-text33 {
    color: #dc3424;
}

.phoenix-pd-application-input4 {
    margin-top: 3px;
}

.phoenix-pd-application-separator2 {
    width: 100%;
    height: auto;
}

.phoenix-pd-application-separator3 {
    width: 200px;
    height: 2px;
    background-color: var(--dl-color-gray-500);
}

.phoenix-pd-application-text34 {
    margin-top: var(--dl-space-space-halfunit);
}

.phoenix-pd-application-question-9 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: column;
}

.phoenix-pd-application-text40 {
    font-size: 1.5rem;
}

.phoenix-pd-application-text42 {
    color: #dc3424;
}

.phoenix-pd-application-select3 {
    margin-top: 3px;
}

.phoenix-pd-application-question-10 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: column;
}

.phoenix-pd-application-text43 {
    font-size: 1.5rem;
}

.phoenix-pd-application-text45 {
    color: #dc3424;
}

.phoenix-pd-application-select4 {
    margin-top: 3px;
}

.phoenix-pd-application-question-11 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    margin-top: var(--dl-space-space-unit);
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: column;
}

.phoenix-pd-application-text46 {
    font-size: 1.5rem;
}

.phoenix-pd-application-text48 {
    color: #dc3424;
}

.phoenix-pd-application-textarea {
    margin-top: 3px;
}

.phoenix-pd-application-button {
    color: var(--dl-color-gray-white);
    width: var(--dl-size-size-medium);
    font-size: 0.75rem;
    transition: 0.3s;
    margin-left: var(--dl-space-space-halfunit);
    background-color: var(--dl-color-gray-black);
}

.phoenix-pd-application-button:hover {
    color: var(--dl-color-gray-black);
    background-color: transparent;
}

.phoenix-pd-application-text50:hover {
    color: var(--dl-color-gray-black);
    background-color: transparent;
}

@media(max-width: 991px) {
    .phoenix-pd-application-hero {
        flex-direction: column;
    }
}

@media(max-width: 767px) {
    .phoenix-pd-application-hero {
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
    }
}

@media(max-width: 479px) {
    .phoenix-pd-application-button {
        margin-top: var(--dl-space-space-unit);
        margin-left: 0px;
    }

    .phoenix-pd-application-text50 {
        margin-top: var(--dl-space-space-unit);
        margin-left: 0px;
    }
}

@media(max-width: 430px) {
    .phoenix-pd-application-container1 {
        background-position: top left, center;
    }

    .phoenix-pd-application-image {
        width: 100%;
    }

    .phoenix-pd-application-hero {
        width: 100%;
        padding: var(--dl-space-space-twounits);
        padding-top: var(--dl-space-space-twounits);
        padding-left: var(--dl-space-space-unit);
        padding-right: var(--dl-space-space-unit);
    }

    .phoenix-pd-application-container2 {
        width: auto;
    }

    .phoenix-pd-application-container3 {
        width: 100%;
    }

    .phoenix-pd-application-image1 {
        width: 100%;
    }

    .phoenix-pd-application-form {
        margin-left: var(--dl-space-space-halfunit);
    }
}