.staff-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.staff-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-size: auto, cover;
  background-image: linear-gradient(113deg, rgba(31, 35, 34, 0.8) 7.00%, rgba(58, 78, 110, 0.8) 93.00%);
  background-repeat: top left;
  background-position: top left, center;
}

.staff-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
}

.staff-separator {
  width: 50%;
  height: 1px;
  margin-top: var(--dl-space-space-halfunit);
  background-image: linear-gradient(113deg, rgba(31, 35, 34, 0.8) 7.00%, rgba(58, 78, 110, 0.8) 93.00%);
}

.staff-text {
  font-size: 45px;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  font-family: "Outfit";
  text-align: center;
}

.staff-separator01 {
  width: 50%;
  height: 1px;
  margin-top: var(--dl-space-space-halfunit);
  background-image: linear-gradient(113deg, rgba(31, 35, 34, 0.8) 7.00%, rgba(58, 78, 110, 0.8) 93.00%);
}

.staff-user-container {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  justify-content: center;
}

.staff-user-modal {
  display: flex;
  position: relative;
  max-width: auto;
  align-items: stretch;
  margin-right: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
}

.staff-daiki-status-image {
  width: 125px;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
}

.staff-daiki-status-container {
  flex: 0 0 auto;
  width: 250px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.staff-daiki-status-container-heading {
  color: var(--dl-color-gray-black);
  text-align: center;
}

.staff-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  flex-direction: column;
}

.staff-separator02 {
  width: 50%;
  height: 1px;
  margin-top: var(--dl-space-space-halfunit);
  background-image: linear-gradient(113deg, rgba(31, 35, 34, 0.8) 7.00%, rgba(58, 78, 110, 0.8) 93.00%);
}

.staff-text03 {
  font-size: 45px;
  margin-top: var(--dl-space-space-halfunit);
  font-family: "Outfit";
}

.staff-separator03 {
  width: 50%;
  height: 1px;
  margin-top: var(--dl-space-space-halfunit);
  background-image: linear-gradient(113deg, rgba(31, 35, 34, 0.8) 7.00%, rgba(58, 78, 110, 0.8) 93.00%);
}

.staff-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  flex-direction: column;
}

.staff-separator04 {
  width: 50%;
  height: 1px;
  margin-top: var(--dl-space-space-halfunit);
  background-image: linear-gradient(113deg, rgba(31, 35, 34, 0.8) 7.00%, rgba(58, 78, 110, 0.8) 93.00%);
}

.staff-text06 {
  font-size: 45px;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-family: "Outfit";
}

.staff-separator05 {
  width: 50%;
  height: 1px;
  margin-top: var(--dl-space-space-halfunit);
  background-image: linear-gradient(113deg, rgba(31, 35, 34, 0.8) 7.00%, rgba(58, 78, 110, 0.8) 93.00%);
}

.staff-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  flex-direction: column;
}

.staff-separator06 {
  width: 50%;
  height: 1px;
  margin-top: var(--dl-space-space-halfunit);
  background-image: linear-gradient(113deg, rgba(31, 35, 34, 0.8) 7.00%, rgba(58, 78, 110, 0.8) 93.00%);
}

.staff-text09 {
  font-size: 45px;
  margin-top: var(--dl-space-space-halfunit);
  font-family: "Outfit";
}

.staff-separator07 {
  width: 50%;
  height: 1px;
  margin-top: var(--dl-space-space-halfunit);
  background-image: linear-gradient(113deg, rgba(31, 35, 34, 0.8) 7.00%, rgba(58, 78, 110, 0.8) 93.00%);
}

.staff-container6 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  flex-direction: column;
}

.staff-separator08 {
  width: 50%;
  height: 1px;
  margin-top: var(--dl-space-space-halfunit);
  background-image: linear-gradient(113deg, rgba(31, 35, 34, 0.8) 7.00%, rgba(58, 78, 110, 0.8) 93.00%);
}

.staff-text12 {
  font-size: 45px;
  margin-top: var(--dl-space-space-halfunit);
  font-family: "Outfit";
}

.staff-separator09 {
  width: 50%;
  height: 1px;
  margin-top: var(--dl-space-space-halfunit);
  background-image: linear-gradient(113deg, rgba(31, 35, 34, 0.8) 7.00%, rgba(58, 78, 110, 0.8) 93.00%);
}

.staff-container7 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  flex-direction: column;
}

.staff-separator10 {
  width: 50%;
  height: 1px;
  margin-top: var(--dl-space-space-halfunit);
  background-image: linear-gradient(113deg, rgba(31, 35, 34, 0.8) 7.00%, rgba(58, 78, 110, 0.8) 93.00%);
}

.staff-text15 {
  font-size: 45px;
  margin-top: var(--dl-space-space-halfunit);
  font-family: "Outfit";
}

.staff-separator11 {
  width: 50%;
  height: 1px;
  margin-top: var(--dl-space-space-halfunit);
  background-image: linear-gradient(113deg, rgba(31, 35, 34, 0.8) 7.00%, rgba(58, 78, 110, 0.8) 93.00%);
}

.not-found-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(113deg, rgba(31, 35, 34, 0.8) 7.00%, rgba(58, 78, 110, 0.8) 93.00%),
    url('https://pinalcountyrp.com/pcrp_banner.png');
  justify-content: center;
}

.not-found-container1 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.not-found-text1 {
  color: black;
  font-size: 252px;
  margin-top: -20px;
  font-weight: 900;
  margin-bottom: -20px;
  letter-spacing: -20px;
}

.not-found-container2 {
  width: 421px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.not-found-text2 {
  text-align: center;
  font-weight: 400;
  color: black;
}

@media(max-width: 991px) {
  .staff-user-modal {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media(max-width: 767px) {
  .staff-user-modal {
    flex-direction: column;
  }

  .staff-daiki-status-image {
    width: var(--dl-size-size-xlarge);
    margin-right: 0px;
  }

  .staff-daiki-status-container {
    margin-top: 15px;
    align-items: center;
  }
}

@media(max-width: 479px) {
  .staff-separator {
    width: 75%;
  }

  .staff-separator01 {
    width: 75%;
  }

  .staff-user-container {
    flex-direction: column;
  }

  .staff-user-modal {
    align-self: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }

  .staff-daiki-status-image {
    width: 50%;
    align-self: center;
    margin-right: 0px;
  }

  .staff-daiki-status-container {
    align-self: center;
  }

  .staff-separator02 {
    width: 75%;
  }

  .staff-separator03 {
    width: 75%;
  }

  .staff-separator04 {
    width: 75%;
  }

  .staff-text06 {
    text-align: center;
  }

  .staff-separator05 {
    width: 75%;
  }

  .staff-separator06 {
    width: 75%;
  }

  .staff-separator07 {
    width: 75%;
  }

  .staff-separator08 {
    width: 75%;
  }

  .staff-separator09 {
    width: 75%;
  }

  .staff-separator10 {
    width: 75%;
  }

  .staff-separator11 {
    width: 75%;
  }
}