.user-home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}

.a-home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}

.a-home-container1 {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-size: auto, cover;
    background-image: linear-gradient(113deg, rgba(31, 35, 34, 0.8) 7.00%, rgba(58, 78, 110, 0.8) 93.00%);
    background-repeat: top left;
    align-items: center;
    background-position: top left, center;
}

.a-home-text2 {
    color: var(--dl-color-gray-black);
    align-self: center;
    margin-top: var(--dl-space-space-fiveunits);
    text-align: center;
    margin-bottom: var(--dl-space-space-unit);
    color: white;
}

.a-home-text3 {
    font-size: 24px;
    text-align: center;
    color: white;
}

.user-home-container01 {
    width: 100%;
    height: var(--dl-size-size-maxcontent);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-size: auto, cover;
    background-image: linear-gradient(113deg, #1f2322cc 7%, #3a4e6ecc 93%), url('https://pinalcountyroleplay.com/blank_banner.png');
    background-repeat: repeat, no-repeat;
    background-position: top left, center;
}

.user-home-text {
    color: var(--dl-color-gray-900);
    align-self: center;
    margin-top: var(--dl-space-space-fiveunits);
    text-align: center;
    margin-bottom: var(--dl-space-space-unit);
}

.user-home-container02 {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: center;
}

.user-home-container03 {
    flex: 0 0 auto;
    width: 450px;
    height: auto;
    display: flex;
    align-items: center;
    border-radius: var(--dl-radius-radius-radius4);
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.25);
}

.user-home-text01 {
    color: var(--dl-color-gray-white);
    margin-top: var(--dl-space-space-unit);
    text-align: center;
}

.user-home-container04 {
    flex: 0 0 auto;
    width: 400px;
    height: auto;
    display: flex;
    margin-top: var(--dl-space-space-oneandhalfunits);
    align-items: flex-end;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    background-color: rgba(217, 217, 217, 0.5);
}

.user-home-container05 {
    flex: 0 0 auto;
    width: 375px;
    height: auto;
    display: flex;
    margin-top: var(--dl-space-space-halfunit);
    align-items: center;
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    justify-content: space-between;
}

.user-home-text05 {
    font-size: 1.25rem;
    align-self: center;
    text-align: left;
}

.user-home-text09 {
    font-size: 1.25rem;
    align-self: center;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    margin-left: var(--dl-space-space-oneandhalfunits);
}

.user-home-image {
    width: 20px;
    align-self: center;
    object-fit: cover;
    margin-left: var(--dl-space-space-unit);
}

.user-home-container06 {
    flex: 0 0 auto;
    width: 375px;
    height: auto;
    display: flex;
    margin-top: var(--dl-space-space-halfunit);
    align-items: center;
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    justify-content: space-between;
}

.user-home-text12 {
    font-size: 1.25rem;
    align-self: center;
    text-align: left;
}

.user-home-text17 {
    font-size: 1.25rem;
    align-self: center;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    margin-left: var(--dl-space-space-oneandhalfunits);
}

.user-home-image1 {
    width: 20px;
    align-self: center;
    object-fit: cover;
    margin-left: var(--dl-space-space-unit);
}

.user-home-container07 {
    flex: 0 0 auto;
    width: 375px;
    height: auto;
    display: flex;
    margin-top: var(--dl-space-space-halfunit);
    align-items: center;
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    justify-content: space-between;
}

.user-home-text20 {
    font-size: 1.25rem;
    align-self: center;
    text-align: left;
}

.user-home-text25 {
    font-size: 1.25rem;
    align-self: center;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    margin-left: var(--dl-space-space-oneandhalfunits);
}

.user-home-image2 {
    width: 20px;
    align-self: center;
    object-fit: cover;
    margin-left: var(--dl-space-space-unit);
}

.user-home-container08 {
    flex: 0 0 auto;
    width: 375px;
    height: auto;
    display: flex;
    margin-top: var(--dl-space-space-halfunit);
    align-items: center;
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    justify-content: space-between;
}

.user-home-text28 {
    font-size: 1.25rem;
    align-self: center;
    text-align: left;
}

.user-home-text34 {
    font-size: 1.25rem;
    align-self: center;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    margin-left: var(--dl-space-space-oneandhalfunits);
}

.user-home-image3 {
    width: 20px;
    align-self: center;
    object-fit: cover;
    margin-left: var(--dl-space-space-unit);
}

.user-home-container09 {
    flex: 0 0 auto;
    width: 375px;
    height: auto;
    display: flex;
    margin-top: var(--dl-space-space-halfunit);
    align-items: center;
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
    justify-content: space-between;
}

.user-home-text37 {
    font-size: 1.25rem;
    align-self: center;
    text-align: left;
}

.user-home-text42 {
    font-size: 1.25rem;
    align-self: center;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    margin-left: var(--dl-space-space-oneandhalfunits);
}

.user-home-image4 {
    width: 20px;
    align-self: center;
    object-fit: cover;
    margin-left: var(--dl-space-space-unit);
}

.user-home-container10 {
    flex: 0 0 auto;
    width: 375px;
    height: auto;
    display: flex;
    margin-top: var(--dl-space-space-halfunit);
    align-items: center;
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
    justify-content: space-between;
}

.user-home-text45 {
    font-size: 1.25rem;
    align-self: center;
    text-align: left;
}

.user-home-text50 {
    font-size: 1.25rem;
    align-self: center;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    margin-left: var(--dl-space-space-oneandhalfunits);
}

.user-home-image5 {
    width: 20px;
    align-self: center;
    object-fit: cover;
    margin-left: var(--dl-space-space-unit);
}

.user-home-container11 {
    flex: 0 0 auto;
    width: 375px;
    height: auto;
    display: flex;
    margin-top: var(--dl-space-space-halfunit);
    align-items: center;
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    justify-content: space-between;
}

.user-home-text53 {
    font-size: 1.25rem;
    align-self: center;
    text-align: left;
}

.user-home-text56 {
    font-size: 1.25rem;
    align-self: center;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    margin-left: var(--dl-space-space-oneandhalfunits);
}

.user-home-image6 {
    width: 20px;
    align-self: center;
    object-fit: cover;
    margin-left: var(--dl-space-space-unit);
}

.user-home-container12 {
    flex: 0 0 auto;
    width: 450px;
    height: auto;
    display: flex;
    align-items: center;
    margin-left: var(--dl-space-space-threeunits);
    border-radius: var(--dl-radius-radius-radius4);
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.25);
}

.user-home-text59 {
    color: var(--dl-color-gray-white);
    margin-top: var(--dl-space-space-unit);
    text-align: center;
}

.user-home-container13 {
    flex: 0 0 auto;
    width: 400px;
    height: 395px;
    display: flex;
    margin-top: var(--dl-space-space-oneandhalfunits);
    align-items: flex-end;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    background-color: rgba(217, 217, 217, 0.5);
}

.user-home-container14 {
    flex: 0 0 auto;
    width: 375px;
    height: auto;
    display: flex;
    margin-top: var(--dl-space-space-halfunit);
    align-items: center;
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
    justify-content: space-between;
}

.user-home-text63 {
    font-size: 1.25rem;
    align-self: center;
    text-align: left;
}

.user-home-text68 {
    font-size: 1.25rem;
    align-self: center;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    margin-left: var(--dl-space-space-oneandhalfunits);
}

.user-home-image7 {
    width: 20px;
    align-self: center;
    object-fit: cover;
    margin-left: var(--dl-space-space-unit);
}

.user-home-container15 {
    flex: 0 0 auto;
    width: 375px;
    height: auto;
    display: flex;
    margin-top: var(--dl-space-space-halfunit);
    align-items: center;
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    justify-content: space-between;
}

.user-home-text71 {
    font-size: 1.25rem;
    align-self: center;
    text-align: left;
}

.user-home-text72 {
    font-size: 1.25rem;
    align-self: center;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    margin-left: var(--dl-space-space-oneandhalfunits);
}

.user-home-image8 {
    width: 20px;
    align-self: center;
    object-fit: cover;
    margin-left: var(--dl-space-space-unit);
}

.user-home-container16 {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: none;
    align-items: flex-start;
    flex-direction: column;
    background-size: auto, cover;
    background-image: linear-gradient(113.8deg, rgba(255, 76, 92, 0.8) 7.5%, rgba(255, 177, 70, 0.8) 94.47%);
    background-repeat: top left;
    background-position: top left, center;
}

.user-home-text75 {
    color: var(--dl-color-gray-black);
    display: none;
    align-self: center;
    margin-top: var(--dl-space-space-fiveunits);
    text-align: center;
    margin-bottom: var(--dl-space-space-unit);
}

.user-home-text76 {
    display: none;
    font-size: 24px;
    text-align: center;
}

.user-home-container17 {
    flex: 0 0 auto;
    width: auto;
    display: none;
    align-items: center;
    flex-direction: column;
}

.user-home-text77 {
    color: var(--dl-color-gray-black);
    align-self: center;
    margin-top: var(--dl-space-space-fiveunits);
    text-align: center;
    margin-bottom: var(--dl-space-space-unit);
}

.user-home-text78 {
    font-size: 24px;
    text-align: center;
}

.user-home-button {
    color: var(--dl-color-gray-white);
    margin-top: var(--dl-space-space-oneandhalfunits);
    transition: 0.3s;
    border-width: 0px;
    background-color: #5865F2;
}

.user-home-button:hover {
    border: none;
    font-style: normal;
    font-weight: 700;
}

@media(max-width: 991px) {
    .user-home-container01 {
        height: auto;
    }

    .user-home-container02 {
        align-items: center;
        flex-direction: column;
    }

    .user-home-container03 {
        margin-bottom: var(--dl-space-space-oneandhalfunits);
    }

    .user-home-container12 {
        flex-wrap: wrap;
        margin-left: 0px;
        margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
}

@media(max-width: 767px) {
    .user-home-container01 {
        height: auto;
    }

    .user-home-container02 {
        align-items: center;
        flex-direction: column;
    }

    .user-home-container03 {
        margin-bottom: var(--dl-space-space-oneandhalfunits);
        flex-direction: column;
        justify-content: flex-start;
    }

    .user-home-container12 {
        flex-wrap: wrap;
        margin-left: 0px;
        margin-bottom: var(--dl-space-space-oneandhalfunits);
        flex-direction: column;
        justify-content: flex-start;
    }
}

@media(max-width: 375px) {
    .user-home-container01 {
        background-position: top left, center;
    }

    .user-home-container03 {
        width: auto;
        padding-left: 0px;
        margin-bottom: var(--dl-space-space-oneandhalfunits);
        padding-right: 0px;
        padding-bottom: 0px;
    }

    .user-home-container04 {
        width: auto;
    }

    .user-home-container05 {
        width: 350px;
    }

    .user-home-container06 {
        width: 350px;
    }

    .user-home-container07 {
        width: 350px;
    }

    .user-home-container08 {
        width: 350px;
    }

    .user-home-container09 {
        width: 350px;
    }

    .user-home-container10 {
        width: 350px;
    }

    .user-home-container11 {
        width: 350px;
    }

    .user-home-container12 {
        width: auto;
        align-self: center;
        margin-left: 0px;
        padding-left: 0px;
        margin-bottom: var(--dl-space-space-oneandhalfunits);
        padding-right: 0px;
        padding-bottom: 0px;
    }

    .user-home-container13 {
        width: auto;
    }

    .user-home-container14 {
        width: 350px;
    }

    .user-home-container15 {
        width: 350px;
    }
}