.user-header-header {
    width: 100%;
    display: flex;
    position: relative;
    box-shadow: 5px 5px 10px 15px rgba(148, 98, 98, 0.2);
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
}

.user-header-navlink {
    display: contents;
}

.user-header-image {
    width: 60px;
    height: auto;
    text-decoration: none;
}

.user-header-nav {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.user-header-container {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
}

.user-header-navlink1 {
    transition: 0.3s;
    font-family: "Outfit";
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.41);
}

.user-header-navlink1:hover {
    background-color: rgba(255, 255, 255, 0.72);
}

.user-header-text {
    font-style: normal;
    font-weight: 600;
}

@media(max-width: 991px) {
    .user-header-navlink1 {
        margin-left: var(--dl-space-space-unit);
    }
}

@media(max-width: 767px) {
    .user-header-header {
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
    }
}

@media(max-width: 479px) {
    .user-header-header {
        padding: var(--dl-space-space-unit);
    }

    .user-header-nav {
        display: flex;
    }

    .user-header-text {
        font-size: 12px;
    }
}